/* Global rules */

@import url("https://fonts.googleapis.com/css?family=Quicksand");

html {
  background-color: #091f36;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  line-height: 2em;
  color: #091f36;
}

::selection {
  color: white;
  background: #ff0;
}
header {
  text-align: center;
}
h1 {
  margin: auto;
  background: #fff;
  line-height: 2.5em;
}
.title {
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: #fff;
}

main.wrapper {
  background-color: #fcfaf6;
  overflow: auto;
}

#description {
  font-size: large;
  color: #4f5f76;
}
em {
  font-weight: bolder;
}
p {
  margin: 1em; /* Top Right Bottom Left (TRBL) */
}
.comments {
  align-items: center;
  font-size: large;
  color: #4f5f76;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
a {
  color: darkcyan;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  background-color: darkcyan;
  text-decoration: none;
}

footer {
  clear: both;
  text-align: center;
  padding: 1em;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width: 1200px) {
  main.wrapper {
    width: 80%;
    margin: auto;
  }

  h1 {
    width: 79%;
    padding-left: 1%;
  }

  picture.profile img {
    width: 50%;
    float: left;
    margin-right: 2em;
  }
}

/* TABLET */
@media all and (min-width: 501px) and (max-width: 1199px) {
  main.wrapper {
    width: 90%;
    margin: auto;
  }

  h1 {
    width: 89%;
    padding-left: 1%;
  }

  picture.profile img {
    width: 50%;
    float: right;
    margin-left: 1em;
  }
}

/* PHONE */
@media all and (max-width: 500px) {
  main.wrapper {
    width: 100%;
  }

  h1 {
    width: 99%;
    padding-left: 1%;
  }

  picture.profile img {
    width: 100%;
  }
}
